@using OptraxDAL.Models.Grow
@model IEnumerable<Strain>

<div class="tab-div">
    <div class="tab-inner">
        <table id="strain-table" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Origin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var strain in Model)
                {
                    <tr>
                        <td></td>
                        <td>@strain.Name</td>
                        <td>@strain.Description</td>
                        <td>@strain.StrainType</td>
                        <td>@strain.OriginType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>