@model LocationVM

@{
    FormVM formVM = ViewBag.FormVM;
}

<form asp-action="@formVM.Action" asp-controller="Map" method="post" id="modelForm" data-obj="Location">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="ID" />

    <div class="row col-12 w-100 px-0 m-0 pe-0">
        <div class="col-12">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control attr" />
            <span asp-validation-for="Name" class="val-msg"></span>
        </div>
        <div class="col-12">
            <label asp-for="Details"></label>
            <textarea asp-for="Details" class="form-control attr" rows="3"></textarea>
            <span asp-validation-for="Details" class="val-msg"></span>
        </div>
        @if (Model.HasAddress)
        {
            <partial name="_Address.cshtml" model="Model.Address" />
        }
    </div>
</form>