@model Location

@{
    bool showEdit = ViewBag.ShowEdit as bool? ?? false;
}
<div class="m-toggle row col-12 w-100 px-0 m-0 pe-0 @(showEdit ? "" : "d-none")">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="ParentId" />
    <input type="hidden" asp-for="LocationType" />

    <div class="col-12 mt-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control attr" />
        <span asp-validation-for="Name" class="val-msg"></span>
    </div>
    <div class="col-12">
        <label asp-for="Details"></label>
        <textarea asp-for="Details" class="form-control attr" rows="2"></textarea>
        <span asp-validation-for="Details" class="val-msg"></span>
    </div>
</div>