@{
    ViewData["IsView"] = true;
}

<div id="locations" class="loc-layout d-flex">
    <div class="tree inner-layout">
        <div class="tree-div">
            <div class="tree-title">All Locations</div>
            <button id="add-new-loc" class="tree-btn btn-grn btn-sm my-2">Add Site</button>
            <div id="locationTree"></div>
        </div>
    </div>

    <div id="loc-details" class="inner-layout view-tabs">
        <partial name="_Location" model="Model" />
    </div>

    <div class="resizer" id="resizer">
        <svg class="resize-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-linecap="butt" stroke-linejoin="miter">
            <circle cx="12" cy="12" r="10" fill="#378874" stroke="#378874" stroke-width="2" /> <!-- Circle -->
            <line x1="5" y1="12" x2="19" y2="12" stroke="#FAF8F2" stroke-width="1.1" /><!-- Center line -->
            <path d="M9 8 L5 12 L9 16" stroke="#FAF8F2" stroke-width="1.3" fill="none" /><!-- Left chevron -->
            <path d="M15 8 L19 12 L15 16" stroke="#FAF8F2" stroke-width="1.3" fill="none" /><!-- Right chevron -->
        </svg>
    </div>
    
    <div id="loc-map" class="loc-map">
        <div id="map-container">
            <div id="map-div">
                <div class="map-msg"></div>
                <div id="map"></div>
            </div>
        </div>
        <div id="map-title" class="d-none">
            <partial name="_Map" model="Model.Map" />
        </div>
    </div>
</div>

<script src="~/dist/location.bundle.js"></script>

