/* Buttons */

button {
    border: none;
    text-transform: capitalize;
    font-weight: 595;
    font-size: var(--f-md);
    line-height: 1.5;
    white-space: nowrap;
    letter-spacing: .8px;
    border-radius: var(--br);
    box-shadow: var(--shdw-sm);
    /*padding: 0 .7rem;*/
    font-family: arial;
    font-family: 'Quicksand', sans-serif !important;
    padding: .2rem 1.5rem .25rem 1.5rem;
}

    button:hover {
        box-shadow: var(--shdw-hov);
    }


.btn-sm {
    /*font-weight: 500;*/
    line-height: 1.2;
    letter-spacing: .8px;
    box-shadow: var(--shdw-sm);
    font-size: var(--f-sm) !important;
    padding: .2rem 1rem .2rem 1rem !important;
}

.btn-grn {
    color: var(--grn-xdk);
    /*background: var(--grn-xlt);*/
    background: #FBFDFD;
    border: 1px solid var(--grn-xdk);
}

    .btn-grn:hover {
        color: white;
        background: var(--grn-dk);
        border: 1px solid var(--grn-xdk);
    }

    .btn-grn:focus {
        outline: 1px solid var(--grn-xdk);
    }

.btn-gray {
    color: var(--gray-dk);
    background: var(--gray-lt);
    border: 1px solid var(--gray-dk);
}

    .btn-gray:hover {
        color: white;
        background: var(--gray-md);
        border: 1px solid var(--gray-md);
    }

.btn-red {
    color: var(--red);
    background: var(--red-lt);
    border: 1px solid var(--red);
}

    .btn-red:hover {
        color: white;
        background: var(--red);
        border: 1px solid var(--red);
    }
.toggle {
    margin-right: 5px;
}

.toggle,
.btn-clear {
    border: none;
    cursor: pointer;
    background: none;
}

button.nav-link{
    box-shadow: none;
}
.buttons-collection {
    font-size: var(--f-sm) !important;
    border: 1px solid var(--blue-dk);
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

    .disabled-link:hover {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
        background-color: var(--blue-dk);
    }
