@media only screen and (max-width: 576px) {
    .top-tabs {
        height: 35px !important;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }

    .inner-tab {
        max-height: calc(100vh - 70px) !important;
    }

    .tab-inner {
        margin: 0 !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 786px) {

    .top-tabs {
        height: 35px !important;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }

    .inner-tab {
        max-height: calc(100vh - 70px) !important;
        padding: 0;
    }

    .tab-inner {
        margin: 0;
    }
}

@media only screen and (min-width: 768px) {

    .top-tabs {
        height: 35px;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
}


.top-tabs {
    width: 100%;
    height: 45px;
    display: flex;
    z-index: 1001;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--grn-xlt);
}

    .top-tabs .nav-tabs {
        border-bottom: none;
        background: var(--grn-xlt);
    }



.top-tabs .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
    font-size: var(--f-md);
}

    .nav-tabs .nav-link.active {
        border: none;
    }

.top-tabs .nav-tabs .nav-link:hover {
    border: none;
    color: var(--grn-xlt);
    background: var(--grn-lt);
}



.top-tabs .nav-tabs .nav-link.active,
.top-tabs .nav-tabs .nav-link.active:hover,
.top-tabs .nav-tabs .nav-item.show .nav-link,
.top-tabs .nav-tabs .nav-item.show .nav-link:hover {
    /*background: linear-gradient(var(--tan-md), var(--tan-dk));*/
    background: var(--grn-dk);
    color: white;
}

.top-tabs .divider {
    border-right: 2px ridge var(--grn-dk) !important;
}

.inner-tab {
    margin: 0;
}

.tab-div {
    height: 100%;
    /*padding-top: 15px;*/
    background: var(--tan);
}

.tab-inner {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    background-color: var(--tan);
    /*box-shadow: 2px .25rem .75rem rgba(0, 0, 0, .4);*/
    padding: 0;
    padding-top: 1rem;
    min-height: calc(100vh - 80px) !important;
}
