@model OptraxDAL.Models.Inventory.InventoryCategory

<li id="cat-@Model.ID">
    <button class="toggle-btn">[+]</button>
    @Model.Name
    <button class="add-cat-btn" data-parent-id="@Model.ID">Add</button>

    <ul class="nested">
        @foreach (var child in Model.Children)
        {
            @await Html.PartialAsync("_CategoryTree", child)
        }
    </ul>
</li>