@model OptraxMVC.Models.TabsVM

<link rel="stylesheet" href="~/css/tabs.css" asp-append-version="true" />

@{
    ViewData["Page"] = "Grow";
}

<input type="hidden" id="tab-page" value="grow" />

<partial name="_Tabs" model="Model" />

@* <div class="top-tabs max-w-100 box-shadow">
    <partial name="_TabsTop" model="Model" />
</div>
<div class="tab-content h-100 p-0">
    <partial name="_TabsPanel" model="Model" />
</div> *@



@section Scripts {
    <script src="/js/tabs.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}