:root {
    --f-xxxs: .7rem;
    --f-xxs: .8rem;
    --f-xs: .9rem;
    --f-sm: 1rem;
    --f-md: 1.1rem;
    --f-lg: 1.2rem;
    --f-xl: 1.3rem;
    --f-xxl: 1.4rem;
    --f-xxxl: 2rem;
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 576px) {
    html {
        font-size: 12px !important;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 2400px) {
    html {
        font-size: 15px !important;
    }
}

.ui-widget,
.ui-widget select {
    font-family: 'Roboto' !important;
}

.f-xxs {
    font-size: var(--f-xxs) !important;
}

.f-xs {
    font-size: var(--f-xs) !important;
}

.f-sm {
    font-size: var(--f-sm) !important;
}

.f-md {
    font-size: var(--f-md) !important;
}

.f-lg {
    font-size: var(--f-lg) !important;
}

.f-xl {
    font-size: var(--f-xl) !important;
}

.f-xxl {
    font-size: var(--f-xxl) !important;
}
