.login-bg {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    color: var(--tan-lt);
    background-color: var(--tan-lt);
    /*background-image: url('content/bg-waves.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    font-size: var(--smF);
}

    .login-bg hr {
        border-width: 2px !important;
        opacity: .8;
    }

a {
    color: var(--tan-lt);
    text-decoration: none;
}

    a:hover {
        color: var(--purp-md);
    }

.btn {
    background-image: linear-gradient(var(--grn-lt), var(--grn-dk)) !important;
    border-bottom: 1px solid var(--grn-dk);
    color: var(--tan-lt);
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    font-size: var(--xlF);
}

    .btn:hover {
        background-image: linear-gradient(var(--grn-lt), var(--grn-md)) !important;
        color: white;
    }

.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 50vw;
    max-width: 60vw;
    border-top: 3px outset var(--grn-md);
    border-left: 3px outset var(--grn-md);
    border-bottom: 3px ridge var(--grn-lt);
    border-right: 3px ridge var(--grn-lt);
    box-shadow: 3px 3px 12px rgba(0,0,0,.4);
    background-color: #040D32;
}

    .login-card section {
        width: 500px;
    }

.inner-card {
    width: 100%;
    height: 100%;
    border: 1px solid var(--purp-md);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 6%;
}

.logo {
    width: 100%;
    display: flex
}

    .logo img {
        margin-left: auto;
        margin-right: auto;
    }

.form-label {
    color: var(--blue-dk);
}
