.login-bg {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    color: var(--tan-lt);
    font-size: var(--f-sm);
    background-color: var(--tan-lt);
    /*background-image: url('content/bg-waves.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

    .login-bg hr {
        border-width: 2px !important;
        opacity: .8;
    }

a,
.checkbox span{
    color: var(--tan-lt);
    text-decoration: none;
}

    a:hover {
        color: var(--purp-md);
    }

.btn {
    color: var(--tan-lt);
    font-size: var(--f-xl);
    border-bottom: 1px solid var(--grn-dk);
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    background: linear-gradient(var(--grn-lt), var(--grn-dk)) !important;
}

    .btn:hover {
        color: white;
        border-bottom: 1px solid var(--grn-dk);
        background-image: linear-gradient(var(--grn-lt), var(--grn-md)) !important;
    }

.login-card {
    display: flex;
    min-width: 50vw;
    max-width: 60vw;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #040D32;
    border-left: 3px outset var(--grn-md);
    border-top: 3px outset var(--grn-md);
    border-right: 3px ridge var(--grn-lt);
    border-bottom: 3px ridge var(--grn-lt);
    box-shadow: 3px 3px 12px rgba(0,0,0,.4);
}

    .login-card section {
        width: 500px;
    }

.inner-card {
    width: 100%;
    height: 100%;
    border: 1px solid var(--purp-md);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 6%;
}

/*.logo {
    width: 100%;
    display: flex
}*/

    .logo img {
        margin-left: auto;
        margin-right: auto;
    }

.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
    background: none;
    background-color: none !important;
}
