body {
    background-color: white !important;
}

/* Filters */
#filterCard {
    width: 100%;
    background-color: white;
    box-shadow: var(--box-shdw);
    border-radius: var(--border-r);
}

#filterDrop {
    width: 100%;
    border: none;
    text-align: center;
    color: var(--blue-dk);
    font-size: var(--f-lg);
    border-radius: var(--border-r);
}

.tag-list {
    display: flex;
}

.tag-btns {
    margin-right: 1rem;
    background-color: white;
    max-width: 250px !important;
    border-radius: var(--border-r);
    border: 1px solid var(--gray-xdk);
}

.tag-div {
    width: 10px;
    height: 100%;
}

.tag-btn {
    padding: 6px;
    border-radius: var(--border-r);
    border: 1px solid var(--gray-xxdk);
}

.tag-txt {
    padding-top: 6px;
    white-space: nowrap;
    font-size: var(--f-xs);
}

/* Buttons */
.table-btn {
    border-radius: var(--border-r);
    border: 1px solid var(--gray-md);
}

.add-btn {
    margin-right: 1rem;
    color: var(--blue-dk);
    font-size: var(--f-md);
    box-shadow: var(--box-shdw-sm);
}

    .add-btn:hover {
        color: white;
        box-shadow: var(--box-shdw);
        border: 2px solid var(--blue-dk);
        background-color: var(--blue-dk);
    }


/* Table Wrappers */

.cat-table-div {
    margin-top: 1rem;
    max-width: 100vw;
    background: white;
    border-radius: var(--border-r);
}

#cat-table_wrapper,
div.dt-container div.dt-layout-table > div,
.dt-container dt-bootstrap5 dt-empty-footer {
    padding: 0;
    background: white;
}

.dt-scroll-body {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-xxxdk) white;
    border-left: 1px solid var(--gray-dk);
    border-right: 1px solid var(--gray-dk);
}

.dt-column-order {
    display: none;
}

.dt-scroll-head {
    margin-top: 10px;
}

    .dt-scroll-head th {
        padding: .1rem .1rem;
        padding-bottom: 0;
    }

.dt-column-title {
    color: var(--blue-dk);
    font-size: var(--f-lg);
    font-weight: 500 !important;
}

#cat-table th,
#cat-table td {
    vertical-align: middle !important;
}

table.dataTable td.dt-control:after,
table.dataTable td.dt-control:before {
    display: none !important;
}

#cat-table tbody {
    border-collapse: collapse !important;
}

    #cat-table tbody td {
        padding: .1rem;
    }

/* group header rows */

.cat0-head th {
    padding: .1rem .1rem;
    font-size: var(--f-sm);
    font-weight: 500 !important;
    border-top: 1px solid var(--gray-xxdk);
    border-bottom: 1px solid var(--gray-xxdk);
}

    .cat0-head th i,
    .cat1-head th i {
        font-size: var(--f-xxxs) !important;
    }

        .cat1-head th i.bi-square-fill {
            font-size: var(--f-xs) !important;
        }

.cat1-head th,
.dtrg-level-1 th {
    font-weight: 600;
    font-size: var(--f-sm);
    padding: .05rem .05rem !important;
    padding-left: 2rem;
}
    .cat1-head th i::before {
        /*margin-top: 3px !important;*/
        vertical-align: -.16rem !important;
    }
.item-hover {
    cursor: pointer;
    font-weight: 500;
    background-color: #FFEBC2 !important;
}

.show2,
.hide2 {
    text-shadow: 0px -4px 0px black !important; /* Creates double chevron for collapse/expand toggles */
}

/* Item Details */
.form-drop {
    width: 100%;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--blue-dk);
    font-size: var(--f-md);
    border-radius: 0 !important;
    border-bottom: 1px solid var(--gray-xdk);
}
#histDrop {
    border-top: 1px solid var(--blue-dk);
}
#itemDeets {

}



.history-inner {
    font-size: var(--f-lg);
    font-weight: 500;
    min-width: 450px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15%;
}
