@media only screen and (max-width: 576px) {
    #map-div {
        margin-top: 35px;
    }

    .map-icon {
        height: 15px;
    }

    .ui-draggable-handle {
        max-width: 200px !important;
    }
}

@media only screen and (min-width: 576px) {
    #map-div {
        margin-top: 35px;
    }

    .map-icon {
        height: 15px;
    }
}

@media only screen and (min-width: 768px) {
    #map-div {
        margin-top: 45px;
    }

    .map-icon {
        height: 25px;
    }
}

@media only screen and (min-width: 992px) {
    #map-div {
        margin-top: 45px;
    }
}

@media only screen and (min-width: 1200px) {
    #map-div {
        margin-top: 45px;
    }
}



.map-title {
    font-weight: 600;
    font-size: var(--f-sm);
    color: var(--grn-xdk);
}

#mapForm label {
    font-weight: 500;
    font-size: var(--f-xs);
    color: var(--grn-xdk);
}

#mapForm input {
    font-size: var(--f-xs);
}

#mapForm .form-btn.map-btn {
    font-size: var(--f-sm);
}

#map-div {
    position: relative;
}
/* Map Controls */
.add-map-obj {
    padding: .5rem;
    color: var(--grn-dk);
    font-size: var(--f-md);
    box-shadow: var(--box-shdw-sm);
    border: 1px solid var(--grn-dk);
    background-color: var(--bg-t);
}

    .add-map-obj:hover {
        color: var(--grn-xlt);
        background-color: var(--grn-dk);
        box-shadow: var(--box-shdw-sm-hov);
    }

.leaflet-draw-toolbar {
}

    .leaflet-draw-toolbar a {
        color: var(--grn-dk);
        width: 25px !important;
        height: 25px !important;
        line-height: 1;
        background-position-y: -3px !important;
    }

.leaflet-top.leaflet-center {
    left: 50%;
    transform: translateX(-50%);
}

.leaflet-control.title-control {
    padding: 0;
    font-family: 'poppins';
    font-size: var(--f-sm);
    background: var(--tan-xlt);
    box-shadow: var(--box-shdw);
    border-radius: var(--border-r);
    border: 1px solid var(--grn-xdk);
}

/* Edit Map Object */
#edit-content label {
    margin-top: 1rem !important;
}

/* Point Edit */
.icon-coll-list {
    padding-top: 0;
    overflow-y: auto;
    max-height: 100px;
    overflow-x: hidden;
    scrollbar-width: thin;
    white-space: nowrap;
    min-width: max-content;
    border: 1px inset var(--grn-xdk);
    border-top-left-radius: var(--border-r);
    border-bottom-left-radius: var(--border-r);
}

.icon-preview {
    padding-top: .25rem;
    overflow-y: auto;
    max-height: 100px;
    scrollbar-width: thin;
    border: 1px inset var(--grn-dk);
    background-color: var(--wht-grn);
    border-top-right-radius: var(--border-r);
    border-bottom-right-radius: var(--border-r);
}

.icon-coll-name {
    padding-left: 1rem;
    padding-top: .15rem;
    padding-right: 1rem;
    padding-bottom: .15rem;
    border-bottom: 1px solid var(--gray-xdk);
}

    .icon-coll-name:hover {
        color: white;
        cursor: pointer;
        background-color: var(--grn-lt);
    }

    .icon-coll-name.selected {
        color: white;
        background-color: var(--grn-dk);
    }

.icon-coll-label {
    font-size: var(--f-xs);
}

.icon-div {
    border: 1px solid var(--wht-grn);
}

    .icon-div.selected,
    .icon-div:hover {
        cursor: pointer;
        border-radius: var(--border-r);
        border: 1px solid var(--grn-dk);
        background-color: var(--wht-blue);
        box-shadow: var(--box-shdw-sm);
    }

    .icon-div.selected {
    }

.icon-label {
    font-size: var(--f-xxxs)
}

/* Leaflet */

.leaflet-touch .leaflet-bar {
    border: 1px solid var(--grn-dk);
    box-shadow: var(--box-shdw-sm);
}

    .leaflet-touch .leaflet-bar a {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

        .leaflet-touch .leaflet-bar a span {
            font-size: var(--f-xl);
            color: var(--grn-dk);
        }

.leaflet-popup-content {
    margin: 0;
    width: max-content;
}


.leaflet-popup-content-wrapper {
    position: relative;
    border-radius: 4px;
    background: var(--bg-t);
    /*z-index: 700;*/
}

.leaflet-container a.leaflet-popup-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--f-xl);
    color: var(--grn-xdk);
    right: 3px;
    top: 3px;
}

    .leaflet-container a.leaflet-popup-close-button:hover {
        color: white;
        background: var(--grn-xdk);
        border-radius: var(--border-r);
        box-shadow: var(--box-shdw-sm);
    }
.leaflet-tooltip{
    padding: 0 4px 0 4px;
}
.leaflet-tooltip-top{
    margin-top: 0;
}

#clr-picker {
    pointer-events: auto !important; /* Allow Coloris to remain clickable */
    z-index: 100000; /* Ensure it's on top */
}

.row > * {
    padding: 0;
}

.edit-popup {
    font-family: 'Poppins';
    color: var(--grn-xdk);
    padding: .3rem;
    /*z-index: 10000;*/
}

    .edit-popup .ed-col {
        /*width: max-content;*/
        /*white-space: nowrap;*/
    }

    .edit-popup .form-select,
    .edit-popup .form-control {
        height: 24px;
        width: 100%;
        font-size: var(--f-xxs);
        border-radius: var(--border-r);
    }

    .edit-popup .form-select {
        padding: .175rem 1rem .075rem .5rem;
    }

        .edit-popup .form-select option {
            padding: .1rem;
            padding-inline: .1rem;
            min-block-size: .8rem;
            line-height: 1;
        }

    .edit-popup label {
        white-space: nowrap;
        font-weight: 500;
        /*padding-left: 3px;*/
        padding-bottom: 3px;
        letter-spacing: .5px;
        font-size: var(--f-xxs)
    }

    .edit-popup button {
        white-space: nowrap;
        letter-spacing: .5px;
        white-space: nowrap;
        padding: .2rem 1rem .2rem 1rem;
        box-shadow: var(--box-shdw-sm);
        box-shadow: var(--box-shdw-sm);
        font-size: var(--f-sm)
    }
