
/* Map Controls */
.add-map-obj {
    color: var(--grn-dk);
    padding: .5rem;
    font-size: var(--f-md);
    box-shadow: var(--box-shdw-sm);
    border: 1px solid var(--grn-dk);
    /*background-color: var(--grn-xlt);*/
    background-color: white;
}

    .add-map-obj:hover {
        color: var(--grn-xlt);
        background-color: var(--grn-dk);
        box-shadow: var(--box-shdw-sm-hov);
    }


/* Edit Map Object */
#edit-content label {
    margin-top: 1rem !important;
}

/* Point Edit */
.icon-coll-list {
    padding-top: 0;
    overflow-y: auto;
    max-height: 200px;
    overflow-x: hidden;
    scrollbar-width: thin;
    white-space: nowrap;
    min-width: max-content;
    border: 1px inset var(--grn-xdk);
    border-top-left-radius: var(--border-r);
    border-bottom-left-radius: var(--border-r);
}

.icon-preview {
    padding-top: .25rem;
    overflow-y: auto;
    max-height: 200px;
    scrollbar-width: thin;
    border: 1px inset var(--grn-dk);
    background-color: var(--wht-grn);
    border-top-right-radius: var(--border-r);
    border-bottom-right-radius: var(--border-r);
}

.icon-coll-name {
    padding-left: 1rem;
    padding-top: .15rem;
    padding-right: 1rem;
    padding-bottom: .15rem;
    border-bottom: 1px solid var(--gray-xdk);
}

    .icon-coll-name:hover {
        color: white;
        cursor: pointer;
        background-color: var(--grn-lt);
    }

    .icon-coll-name.selected {
        color: white;
        background-color: var(--grn-dk);
    }

.icon-coll-label {
    font-size: var(--f-xs);
}

.icon-div {
    border: 1px solid var(--wht-grn);
}

    .icon-div.selected,
    .icon-div:hover {
        cursor: pointer;
        border-radius: var(--border-r);
        border: 1px solid var(--grn-dk);
        background-color: var(--wht-blue);
        box-shadow: var(--box-shdw-sm);
    }

    .icon-div.selected{

    }

    .map-icon {
        height: 25px;
    }

.icon-label {
    font-size: var(--f-xxxs)
}

/* Leaflet */

.leaflet-touch .leaflet-bar {
    border: 1px solid var(--grn-dk);
    box-shadow: var(--box-shdw-sm);
}

    .leaflet-touch .leaflet-bar a {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

        .leaflet-touch .leaflet-bar a span {
            font-size: var(--f-xl);
            color: var(--grn-dk);
        }
