#overlay {
    display: none;
    background: rgba(0,0,0,.5);
}

#popup {
    top: 50%;
    left: 50%;
    width: auto;
    z-index: 2000;
    display: none;
    position: fixed;
    background: var(--tan);
    color: var(--grn-xdk);
    box-shadow: var(--shdw);
    border-radius: var(--br);
    border: 1px solid var(--gray-dk);
    transform: translate(-50%, -50%);
}

.transform-50 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-top {
    position: relative;
    font-weight: 600;
    padding-top: .5rem;
}

.popup-top-inner {
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--grn-xdk);
}

.popup-title {
    margin: auto;
    cursor: default;
    text-align: center;
    font-size: var(--f-lg);
}

.popup-close {
    right: 0;
    border: none;
    background: var(--tan);
    color: var(--grn-xdk);
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    border-radius: var(--br);
}

    .popup-close:hover {
        color: white;
        font-weight: 500;
        box-shadow: var(--shdw-sm);
        background-color: var(--grn-dk);
    }

.popup label {
    font-weight: 500;
    padding-left: .2rem;
    /*margin-top: 1.5rem;*/
    margin-bottom: .25rem;
}

.popup-content {
    overflow-y: auto;
}

/*.popup-btns {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}*/

.form-top {
    padding-left: 15%;
    padding-right: 15%;
}

    .form-top div {
        margin-top: 1rem;
        padding-bottom: .25rem;
        font-size: var(--f-md);
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid var(--blue-dk);
    }
