:root {
    --blue-lt: #1F5A76;
    --blue-md: #1C516E;
    --blue-dk: #030726;
    --grn-lt: #579585;
    --grn-md: #1b6552;
    --grn-dk: #195C4B;
    --tan-lt: #C7C0B9;
    --tan-md: #9D9085;
    --tan-dk: #8F8073;
    --purp-lt: #C399F5;
    --purp-md: #AB71F2;
    --purp-dk: #8C52D2;
}
/*background-color: #4C6986;*/
/*background-color: #91A5C7;*/
/*background-color: #C1CDE0;*/

@media only screen and (max-width: 600px) {
    .side-nave{
        height: 50px !important;
    }
    .inner-tab {
        max-height: calc(100vh - 100px) !important;
    }
}

.bg-dark {
    background-color: var(--blue-dk) !important;
}

.text-tan {
    color: var(--tan-dk);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.box-shadow {
    box-shadow: 2px .25rem .75rem rgba(0, 0, 0, .4);
}


/* Content */
html {
    height: 100vh;
    font-size: 14px;
}

body {
    margin-bottom: 0;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
    font-family: 'Roboto' !important;
    /*background-color: #334A6E;*/
    background-color: #1C516E !important;
    background-color: var(--tan-lt) !important;
}

.content {
    height: 100vh;
    display: flex;
    max-height: 100vh;
    width: 100%;
    flex: 1 1 auto;
}

main {
    flex: 1 1 auto;
}

/* Inputs */

input[type=checkbox]:hover, input[type=radio]:hover {
    cursor: pointer;
}

.form-control:focus,
.form-select:focus {
    outline-color: var(--grn-lt);
    border-color: var(--grn-lt);
}

.form-check-input:checked {
    background-color: var(--grn-md);
    border-color: var(--grn-dk);
}

/* Scroll */

/*.cust-scroll::-webkit-scrollbar {
    width: 6px !important;
    height: 8px !important;
}

.cust-scroll::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

.cust-scroll::-webkit-scrollbar-thumb {
    background: var(--gry5) !important;
}

.cust-scroll::-webkit-scrollbar-track {
    background: var(--gry2) !important;
}
*/

/* Dash */

.filterOuter {
    height: auto;
}

.widget-title {
    text-align: center;
    font-size: var(--xlF);
    color: var(--grn-md);
    font-weight: bold;
}

.widget-info {
    text-align: center;
    font-size: var(--xxxlF);
    color: var(--blue-dk);
}

.chart {
    border: 1px solid lightgray;
    margin: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: var(--tan-lt);
    /*  min-width: 300px !important;*/
    width: 100%;
}

.chart-title {
    text-align: center;
    font-size: var(--xxlF);
    color: var(--grn-md);
    font-weight: bold;
    padding-top: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.chart-head {
    font-size: var(--smF);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.chart-widget {
    padding: 1%;
    height: 350px;
}

.nav-tabs {
    border-bottom: none;
    background: var(--blue-dk);
}

    .nav-tabs .nav-link {
        margin-bottom: 0;
        border: none;
        font-size: var(--lgF);
    }

        .nav-tabs .nav-link.active {
            border: none;
        }

        .nav-tabs .nav-link:hover {
            background: var(--blue-dk);
            border: none;
            color: var(--tan-lt);
        }

        .nav-tabs .nav-link.active,
        .nav-tabs .nav-link.active:hover,
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-item.show .nav-link:hover {
            background-color: var(--blue-md);
            color: white;
        }

.divider {
    border-right: 2px ridge var(--tan-lt) !important;
}

/* Room */

.top-tabs {
    background: var(--blue-dk);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-tab {
}

.inner-tab {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    margin: 0;
}

.cards-div {
    /*height: 100%;*/
    overflow-x: hidden;
    overflow-y: auto;
}

    .cards-div .card {
        min-height: 200px;
    }

.room-card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--grn-md);
    color: var(--tan-lt);
}

    .room-card:hover {
        cursor: pointer;
        background-color: var(--grn-lt);
    }
