@media only screen and (max-width: 576px) {
    .top-tabs {
        height: 35px !important;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }

    .inner-tab {
        max-height: calc(100vh - 70px) !important;
    }

    .tab-inner {
        margin: 0 !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 786px) {

    .top-tabs {
        height: 35px !important;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }

    .inner-tab {
        max-height: calc(100vh - 70px) !important;
        padding: 0;
    }

    .tab-inner {
        margin: 0;
    }
}

@media only screen and (min-width: 768px) {

    .top-tabs {
        height: 35px;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
    /*
    .inner-tab {
        max-height: calc(100vh - 70px) !important;
    }*/

/*        .tab-inner {
        width: 100% !important;
    }*/
}

body {
    background-color: white !important;
}

.top-tabs {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-dk);
}

.nav-tabs {
    border-bottom: none;
    background: var(--blue-dk);
}

    .nav-tabs .nav-link {
        border: none;
        margin-bottom: 0;
        font-size: var(--f-lg);
    }

        .nav-tabs .nav-link.active {
            border: none;
        }

        .nav-tabs .nav-link:hover {
            border: none;
            color: var(--blue-dk);
            background: var(--tan-lt);
        }

        .nav-tabs .nav-link.active,
        .nav-tabs .nav-link.active:hover,
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-item.show .nav-link:hover {
            background: linear-gradient(var(--tan-md), var(--tan-dk));
            color: white;
        }

.divider {
    border-right: 2px ridge var(--tan-lt) !important;
}

.inner-tab {
    margin: 0;
}

.tab-div {
    height: 100%;
    /*padding-top: 15px;*/
    background: white;
}

.tab-inner {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    background-color: white;
    box-shadow: 2px .25rem .75rem rgba(0, 0, 0, .4);
    padding: 0;
    padding-top: 1rem;
    min-height: calc(100vh - 80px) !important;
}
