/* Tabs */

.top-tabs {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-dk);
}

.nav-tabs {
    border-bottom: none;
    background: var(--blue-dk);
}

    .nav-tabs .nav-link {
        border: none;
        margin-bottom: 0;
        font-size: var(--f-lg);
    }

        .nav-tabs .nav-link.active {
            border: none;
        }

        .nav-tabs .nav-link:hover {
            border: none;
            color: var(--tan-lt);
            background: var(--blue-dk);
        }

        .nav-tabs .nav-link.active,
        .nav-tabs .nav-link.active:hover,
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-item.show .nav-link:hover {
            background-color: var(--blue-md);
            color: white;
        }

.divider {
    border-right: 2px ridge var(--tan-lt) !important;
}

.inner-tab {
    margin: 0;
    /*    position: relative;
        display: flex;
    overflow-y: auto;
    max-height: calc(100vh - 50px);*/
    /*position: relative;*/
    /*max-height: calc(100vh - 50px);*/
}

.tab-div {
    height: 100%;
    padding-top: 15px;
}

.tab-inner {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    background-color: white;
    box-shadow: 2px .25rem .75rem rgba(0, 0, 0, .4);
    padding: 0;
    padding-top: 1rem;
    min-height: calc(100vh - 80px) !important;
}
