@{
    ViewData["Page"] = "Home";
}
<div class="dash container-fluid custScroll pt-0 px-lg-2 px-0">
    <div class="dashWidgets d-flex flex-xxl-row flex-column-reverse">
        <div class="col-xxl-10 col-12 pt-2">
            <div class="row g-3 pe-3">
                <div class="col-xxl-2 col-xl-4 col-6">
                    <div class="card chart chartInfo mb-2">
                        <div class="widgTitile"></div>
                        <div class="widgInfo"></div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-4 col-6">
                    <div class="card chart chartInfo mb-2">
                        <div class="widgTitile"></div>
                        <div class="widgInfo"></div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-4 col-6">
                    <div class="card chart chartInfo mb-2">
                        <div class="widgTitile"></div>
                        <div class="widgInfo"></div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-4 col-6">
                    <div class="card chart chartInfo mb-2">
                        <div class="widgTitile"></div>
                        <div class="widgInfo"></div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-4 col-6">
                    <div class="card chart chartInfo mb-2">
                        <div class="widgTitile"></div>
                        <div class="widgInfo"></div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-4 col-6">
                    <div class="card chart chartInfo mb-2">
                        <div class="widgTitile"></div>
                        <div class="widgInfo"></div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-4 col-6">
                    <div class="card chart chartInfo mb-2">
                        <div class="widgTitile"></div>
                        <div class="widgInfo"></div>
                    </div>
                </div>
                <div class="row g-3 pe-3">
                    <div class="col-xxl-6 col-12">
                        <div class="card chart">
                            <div class="chartTitile"></div>
                            <div class="chartWidget lgChart"></div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-12">
                        <div class="card chart">
                            <div class="chartTitile"></div>
                            <div class="chartWidget lgChart"></div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 col-12">
                        <div class="card chart">
                            <div class="chartTitile"></div>
                            <div class="chartWidget"></div>
                        </div>
                    </div>
                                        <div class="col-xxl-3 col-md-6 col-12">
                        <div class="card chart">
                            <div class="chartTitile"></div>
                            <div class="chartWidget"></div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 col-12">
                        <div class="card chart">
                            <div class="chartTitile"></div>
                            <div class="chartWidget"></div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 col-12">
                        <div class="card chart">
                            <div class="chartTitile"></div>
                            <div class="chartWidget"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col xxl-2 col-12 px-0-0 py-2" id="dashFilts">
            <div class="card filtOuter custScroll"></div>
        </div>
    </div>
</div>
