@using OptraxDAL.Models.Inventory
@model List<InventoryCategory>

<div class="tree-div">

    <div class="tree box-shadow  p-2">
        <div class="tree-head">
            <button id="add-root-cat" class="btn ox-btn node-btn">Add New Top Level Category</button>
        </div>
        <div class="inner-tree">
            <ul class="tree-ul">
                @foreach (var category in Model)
                {
                    @await Html.PartialAsync("_TreeNode", category)
                }
            </ul>
        </div>
    </div>
</div>

<script src="/js/inventory.js"></script>


