@{
    ViewData["Page"] = "Dashboard";
}
<div class="cards-div dash-cards d-flex flex-column min-vh-100 py-3">
    <div class="row dash-top m-0 g-3 pe-3">
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title">Current Crop Count</div>
                <div class="card-info">24</div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title">Crops YTD</div>
                <div class="card-info">125</div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title">Best Producers</div>
                <div class="card-info">
                    <div class="card-list">
                        <p>Wedding Cake</p>
                        <p>Maui Wowie</p>
                        <p>Grape Ape</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title">Top Selling Strains</div>
                <div class="card-info">
                    <div class="card-list">
                        <p>Blue Dream</p>
                        <p>Pineapple Express</p>
                        <p>Strawberry Cough</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title">Top Selling Products</div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title">Total Sales YTD</div>
                <div class="card-info">$123,456.00</div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1 row dash-bottom m-0 g-3 pe-3">
        <div class="col-xxl-4 col-md-6 col-12">
            <div class="card dash-card h-100 mb-2">
                <div class="card-title">Average Yield by Strain</div>
                <div class="card-chart-div">
                    <div class="card-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-6 col-12">
            <div class="card dash-card h-100 mb-2">
                <div class="card-title">Average Yield by Light</div>
                <div class="card-chart-div">
                    <div class="card-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-6 col-12">
            <div class="card dash-card h-100 mb-2">
                <div class="card-title">YTD Sales by Strain</div>
                <div class="card-chart-div">
                    <div class="card-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-6 col-12">
            <div class="card dash-card h-100 mb-2">
                <div class="card-title">Yield Percentages</div>
                <div class="card-chart-div">
                    <div class="card-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-6 col-12">
            <div class="card dash-card h-100 mb-2">
                <div class="card-title"></div>
                <div class="card-chart-div">
                    <div class="card-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-6 col-12">
            <div class="card dash-card h-100 mb-2">
                <div class="card-title"></div>
                <div class="card-chart-div">
                    <div class="card-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
