@{
    ViewData["Page"] = "Home";
}
<div class="cards-div dash-cards d-flex flex-column">
    <div class="row dash-top m-0 g-3 pe-3">
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-6">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
    </div>

    <div class="row dash-bottom m-0 g-3 pe-3">
        <div class="col-xxl-3 col-md-6 col-12">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-3 col-md-6 col-12">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-3 col-md-6 col-12">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-3 col-md-6 col-12">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-3 col-md-6 col-12">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-3 col-md-6 col-12">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-3 col-md-6 col-12">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
        <div class="col-xxl-3 col-md-6 col-12">
            <div class="card dash-card mb-2">
                <div class="card-title"></div>
                <div class="card-info"></div>
            </div>
        </div>
    </div>
</div>
