@using OptraxDAL.Models.Inventory
@model List<InventoryCategory>

@{
    List<InventoryItem> items = ViewBag.Items;
}

<div class="tab-div">
    <div class="tab-inner">
        <table class="cat-table w-100">
            <thead class="top-head">
                <tr class="">
                    <th>
                        <div class="d-flex">
                            <button class="toggle-all me-2 toggle" data-toggle-class="child-row">
                                <span class="show-i"><i class="bi bi-chevron-compact-down"></i></span>
                                <span class="hide-i d-none"><i class="bi bi-chevron-compact-up"></i></span>
                            </button>
                            <button class="otx-btn">Add New Top Level</button>
                        </div>
                    </th>
                    <th>Inventory Category</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="categoryTable" class="cat-body">
                @foreach (var category in Model.OrderBy(m => m.Name).ToList())
                {
                    List<int> childIDs = category.GetChildIDs();
                    List<InventoryItem> catItems = items.Where(i => childIDs.Contains(i.ID)).ToList(); //where items belong to current cat or any of it's children
                    items.RemoveAll(i => catItems.Contains(i));

                    var childVD = new ViewDataDictionary(ViewData) { ["Items"] = catItems };

                    @await Html.PartialAsync("~/Areas/Inventory/Views/Items/_ItemsChild.cshtml", category)
                }
            </tbody>
        </table>
    </div>
</div>

<script src="/js/inventory.js"></script>


