@using OptraxDAL.Models.Admin
@model IEnumerable<Location>

@{
}

<div class="table-div  px-lg-3 px-2">
    <div class="table-responsive">
        <div id="tableMsg"></div>
        <table id="loc-table" class="grp-table table table-responsive w-100">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/inventory/locations.js"></script>
<script src="/js/inventory/inventory.js"></script>
