@using OptraxDAL.Models.Grow
@using OptraxDAL.Models.Inventory
@using OptraxDAL.ViewModels
@using OptraxMVC.Models

@model Plant

@{
    FormVM formVM = ViewBag.FormVM;
    OptionsVM drops = (OptionsVM)(ViewData["Options"] ?? new());
}

@using (Html.BeginForm(formVM.Action, "Plants", FormMethod.Post, new { id = "modelForm", data_func = formVM.JsFunc, data_msgdiv = formVM.MsgDiv, data_modelname = "plant" }))
{
    @Html.AntiForgeryToken()

    <div class="d-flex justify-content-center w-100 ps-2">
        <div class="w-100 px-2">
        </div>
    </div>

    <div class="popup-btns d-flex justify-content-center">
        <button type="submit" class="btn-grn form-btn @(formVM.IsNew ? "" : "d-none")">Save Plants</button>
        <button type="submit" class="update-btn form-btn d-none">Save Changes</button>
    </div>
}

<script src="/js/forms.js"></script>