@using OptraxDAL.Models.Grow
@using OptraxDAL.Models.Inventory
@using OptraxDAL.ViewModels
@using OptraxMVC.Models

@model Plant

@{
    OptionsVM opts = (OptionsVM)(ViewData["Options"] ?? new());
}

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="ProfileId" />
<fieldset class="border rounded p-3 mb-4">
    <legend class="w-auto px-2">Plant Details</legend>
    <div class="row col-12 w-100 px-0 m-0 pe-0">
        <div class="col-xl-3 col-lg-4 col-6 pe-2">
            <label asp-for="TaxonType"></label>
            <select asp-for="TaxonType" asp-items="opts.TaxonSelects" class="form-control"></select>
            <span asp-validation-for="TaxonType" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-lg-4 col-6 ps-2 pe-lg-2 pe-0">
            <label asp-for="IsHybrid"></label><br/>
            <label><input type="radio" asp-for="IsHybrid" value="true" /> Yes</label>
            <label><input type="radio" asp-for="IsHybrid" value="false" /> No</label>
            <span asp-validation-for="IsHybrid" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 pe-xl-2 pe-lg-0 pe-sm-2 pe-0 ps-lg-2 ps-0">
            <label asp-for="Parent1Id" class="par1"></label>
            <select asp-for="Parent1Id" asp-items="opts.PlantSelects" class="form-control"></select>
            <span asp-validation-for="Parent1Id" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12  ps-lg-0 ps-sm-2 ps-0 pe-xl-0 pe-lg-2 pe-0">
            <label asp-for="PlantType" class="par1"></label>
            <select asp-for="PlantType" asp-items="opts.PlantTypeSelects" class="form-control"></select>
            <span asp-validation-for="PlantType" class="text-danger"></span>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 ps-xl-0 ps-lg-2 pe-sm-2 pe-0">
            <label asp-for="Family"></label>
            <input asp-for="Family" class="form-control" />
            <span asp-validation-for="Family" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 ps-sm-2 ps-0 pe-xl-2 pe-lg-0 pe-0">
            <label asp-for="Genus"></label>
            <input asp-for="Genus" class="name form-control" />
            <span asp-validation-for="Genus" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 pe-lg-2 pe-sm-2 pe-0 ps-xl-2 ps-lg-0 ps-0">
            <label asp-for="Species"></label>
            <input asp-for="Species" class="name form-control" />
            <span asp-validation-for="Species" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 ps-lg-2 ps-sm-2 ps-0 pe-xl-0 pe-lg-2 pe-0">
            <label asp-for="ScientificName"></label>
            <input asp-for="ScientificName" class="form-control" />
            <span asp-validation-for="ScientificName" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 pe-xl-2 pe-lg-0 pe-sm-2 pe-0 ps-xl-0 ps-lg-2">
            <label asp-for="CommonName"></label>
            <input asp-for="CommonName" class="form-control" />
            <span asp-validation-for="CommonName" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 pe-lg-2 ps-xl-2 ps-lg-0 ps-sm-2 ps-0">
            <label asp-for="CustomName"></label>
            <input asp-for="CustomName" class="form-control" />
            <span asp-validation-for="CustomName" class="text-danger"></span>
        </div>

        <div class="col-xl-6 col-lg-8 col-12 ps-lg-2 pe-0">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</fieldset>