@{
    ViewData["IsView"] = true;
}

<div id="plants" class="loc-layout d-flex">
    <div class="tree inner-layout">
        <div class="tree-div">
            <div class="tree-title">Plant List</div>
            <div id="plantTree"></div>
        </div>
    </div>

    <div id="plant-details" class="inner-layout view-tabs"></div>
</div>
<script src="~/dist/plant.bundle.js"></script>