
<div class="sideNav bg-dark box-shadow p-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-decoration-none">
        <div class="logo">
            <img src="~/content/logo-bright3.png" alt="Logo" />
        </div>
    </a>
    <hr class="text-tan">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active d-flex" aria-current="page"><i class="bi text-tan bi-grid-3x3-gap me-3"></i><span>Dashboard</span></a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link d-flex"><i class="bi bi-pin-map text-tan  me-3"></i><span>Grow</span></a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link d-flex"><i class="bi bi-card-list text-tan me-3"></i><span>Harvest</span></a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link d-flex"><i class="bi bi-basket3 text-tan me-3"></i><span>Inventory</span></a>
         </li>
        <li class="nav-item">
            <a href="#" class="nav-link d-flex"><i class="bi bi-file-bar-graph text-tan me-3"></i><span>Reports</span></a>
        </li>
    </ul>
</div>