@model Address
@inject IPhoneFormatter PhoneFormatter

@{
    ViewData["Formatter"] = PhoneFormatter;
    var showEdit = ViewData["ShowEdit"] as bool? ?? false;
}

<div class="addy-component m-0 p-0">
    <div class="m-toggle loc-disp display @(showEdit ? "d-none" : "")">
        <partial name="_AddressDisplay" model="Model" />
    </div>
    <div class="edit-div m-toggle row col-12 w-100 px-0 m-0 pe-0 @(showEdit ? "" : "d-none")">
        <partial name="_AddressEdit" model="Model" />
    </div>
</div>

<script src="/js/utilities/address.js" type="text/javascript"></script>