@using OptraxDAL.Models.Map
@using OptraxMVC.Models

@model MapCircle

@{
    FormVM formVM = ViewBag.FormVM;
}

<form asp-action="@formVM.Action" asp-controller="Map" method="post" id="modelForm" data-obj="Circle">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Radius" />
    <input type="hidden" asp-for="Latitude" />
    <input type="hidden" asp-for="Longitude" />
    @await Html.PartialAsync("_MapObject", Model, ViewData)
</form>