@using OptraxDAL.Models.Map
@using OptraxMVC.Models

@model MapLine

@{
    FormVM formVM = ViewBag.FormVM;
}

<form asp-action="@formVM.Action" asp-controller="Map" method="post" id="modelForm" data-obj="Line">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="GeometryWKT" />
    @await Html.PartialAsync("_MapObject", Model, ViewData)
</form>


