@* <link rel="stylesheet" href="~/css/map.css" />

<div id="map-container">
    <div id="map-div">
        <div class="map-msg"></div>
        <div id="map"></div>
    </div>
</div>

<div class="edit-object"></div>

<script type="module" src="/js/map/map.js"></script> *@


