@using OptraxDAL.Models.Maps;
@using OptraxMVC.Models

@model MapShape

@{
    string col = Model is MapLine ? "col-6" : "col-4";
}

<div class="col-6 pe-1">
    <label asp-for="Color"></label>
    <input asp-for="Color" class="form-control attr color-picker" />
    <span asp-validation-for="Color" class="val-msg"></span>
</div>

@if (Model is MapCircle or MapPolygon)
{
    <div class="col-6 ps-1">
        <label asp-for="FillColor"></label>
        <input asp-for="FillColor" class="form-control attr color-picker" />
        <span asp-validation-for="FillColor" class="val-msg"></span>
    </div>
}

<div class="@col pe-1">
    <label asp-for="Weight"></label>
    <input asp-for="Weight" class="form-control attr" step="1" />
    <span asp-validation-for="Weight" class="val-msg"></span>
</div>
<div class="@col px-1">
    <label asp-for="Pattern"></label>
    <select asp-for="Pattern" class="form-select attr">
        <option value="dash">Dash</option>
        <option value="solid">Solid</option>
    </select>
    <span asp-validation-for="Pattern" class="val-msg"></span>
</div>
<div class="@col ps-1">
    <label asp-for="DashArray"></label>
    <input asp-for="DashArray" class="form-control attr" />
    <span asp-validation-for="DashArray" class="val-msg"></span>
</div>