<link rel="stylesheet" href="~/css/map.css" />
<div id="map-container">
    <div id="map-div">
        <div id="map"></div>

    </div>
</div>

<div id="addObject" class="d-none">

</div>

<script src="/js/grow/map.js"></script>

