@using OptraxDAL.Models.Map
@using OptraxMVC.Models

@model MapPolygon

@{
    FormVM formVM = ViewBag.FormVM;
}

<form asp-action="@formVM.Action" asp-controller="Map" method="post" id="mapForm" data-id="@Model.ID" data-obj="Polygon">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="GeometryWKT" />
    @await Html.PartialAsync("_MapObject", Model, ViewData)
</form>
