<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Optrax</title>

    <!-- jQuery, Bootstrap -->
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css" integrity="sha512-TFee0335YRJoyiqz8hA8KV3P0tXa5CpRBSoM0Wnkn7JoJx1kaq1yXL/rb8YFpWXkMOjRcv5txv+C6UluttluCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
    <!-- Datatables -->
    @* <link href="https://cdn.datatables.net/v/bs5/moment-2.29.4/dt-2.2.2/b-3.2.2/date-1.5.5/r-3.0.4/rg-1.5.1/sc-2.4.3/datatables.css" rel="stylesheet" integrity="sha384-qybajRHxMNEHjpH62Vvp/e9bkc1yCmfjZ9pxbLiNFQ2CQiTJerp6SB9uEKxExSSI" crossorigin="anonymous"> *@
    <!-- Leaflet -->
    @* <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" /> *@
    <!-- Dropdowns -->
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/styles/choices.min.css" integrity="sha256-g0uAHC+YSeiS2X/1GuQ3OMQkSR0wd82xvcbPtWlOG5I=" crossorigin="anonymous"> *@
    @*<link rel="stylesheet" href="~/css/site/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site/nav.css" asp-append-version="true" /> *@

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" /> <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css"> <!-- Color Picker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" /> <!-- jsTree -->
    
    <link href="~/css/shared.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

    <link rel="stylesheet" href="~/OptraxMVC.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="body">
    <div class="body-container d-flex flex-md-row flex-column w-100 h-100">
        <partial name="_SideNav" />
        <div class="content ">
            <main role="main" class="">
                @RenderBody()
            </main>
            @* Popup *@
            @*  <div id="overlay" class="ui-widget-overlay"></div> *@
            <div id="popup" class="popup">
                <div id="popupTop" class="popup-top w-100 px-2">
                    <div id="popupTopInner" class="popup-top-inner d-flex w-100">
                        <span id="popupTitle" class="popup-title"></span>
                        <button id="popupClose" class="popup-close">X</button>
                    </div>
                    <div class="popup-msg"></div>
                </div>
                <div id="popupContent" class="popup-content"></div>
            </div>
        </div>
    </div>

    <script src="~/dist/shared.bundle.js"></script>
    <script src="~/dist/main.bundle.js"></script>
    <script src="~/dist/site.bundle.js"></script>

    <!-- jQuery, Bootstrap -->
    @*     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 *@
    <!-- Datatables -->
    @* <script src="https://cdn.datatables.net/v/bs5/moment-2.29.4/dt-2.2.2/b-3.2.2/date-1.5.5/r-3.0.4/rg-1.5.1/sc-2.4.3/datatables.js" integrity="sha384-z+71GQ3oZT2Kour3SLbQWC52capxpZ4q44m7jcfcLZZiHvNtdbgK/kadSP9uZdYC" crossorigin="anonymous"></script> *@

    <!-- Leaflet -->
    @*<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script> *@

    <!-- Dropdowns -->
    @*<script src="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/scripts/choices.min.js" integrity="sha256-Jwkjv8zq8sOAYeThyn53LDCkpRdB3yETR+U7aVqzV98=" crossorigin="anonymous"></script>*@

    <!-- Driver - Site Tour -->
    @*<script src="https://cdn.jsdelivr.net/npm/driver.js@latest/dist/driver.js.iife.js"></script> 
    <script src="~/js/siteTour.js" asp-append-version="true"></script> *@
    @* <script type="module" src="~/js/site.js" asp-append-version="true"></script> *@


    <script src="https://unpkg.com/imask"></script>  <!-- iMask -->
    <script src="https://kit.fontawesome.com/6e68fe6bdb.js" crossorigin="anonymous"></script> <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js" defer></script> <!-- jsTree -->
    <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script><!-- Color Picker -->
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Modules", required: false)
</body>
</html>
